name: Create GitHub Release

on:
  workflow_call:
    inputs:
      tag:
        description: The release tag name
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: binaries
          path: dist/bin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          tag_name: ${{ inputs.tag }}
          name: CloudVoyager ${{ inputs.tag }}
          generate_release_notes: true
          files: dist/bin/*
