name: Build and Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  install:
    uses: ./.github/workflows/install.yml

  build:
    needs: install
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    uses: ./.github/workflows/gh-release.yml
    permissions:
      contents: write
    with:
      tag: ${{ needs.build.outputs.tag }}
